/* Сброс врапперов*/
  body {
      min-width: 0 !important;
      background-color: white;
  }

  .base-width {
      background-color: transparent;
      margin: 0;
      max-width: none;
      min-width: 0;
  }

  .catalogue {
      padding: 0;
  }

  .cms-page .col-middle {
      background: none;
      border: none;
      box-shadow: none;
      padding: 0 !important;
  }

  .catalogue h1 {
      display: none;
  }

  #content {
      margin-top: 0;
  }

  /* .wrapper-text ul li {
      list-style-type: none !important;
  } */

  .wrapper-text table td {
      padding: 20px;
  }

  .simple-breadcrumbs {
    display: none !important;
  }

/* --- */

* {padding: 0; margin: 0}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F4F7;
}

._customer-mors {
  max-width: 1200px;
  margin: 36px auto;
  color: #424B5E;
  font-size: 16px;
}

._customer-mors-h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  margin: 0 0 36px 0;
}

._customer-mors-des-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

._customer-mors-des {
  max-width: 860px;
  min-width: 500px;
  color: #5E7491;
  font-weight: normal;
}

#_customer-des-no-margin {
  margin: 0;
}

._customer-mors-des-a {
  font-size: 16px !important;
  font-weight: 600;
  color: #028DD8 !important;
  text-decoration: none !important;
}

._customer-mors-des-a:hover {
  color: #FF7043 !important;
}

._customer-mors-des-a:active {
  color: #028DD8 !important;
}

/* Слайдер для спецпредложений */

._customer-mors-slider {
  background-image: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/162225/content_back-sl.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 0;
  padding: 30px 40px 36px 40px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.12);
}

._customer-mors-slider-h {
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
  margin: 0 0 20px 0;
}

._customer-mors-slider-data {
  font-size: 18px;
  color: #069DFA;
  font-weight: 800;
  margin: 0 0 20px 0;
}

._customer-mors-slider-des {
  font-size: 18px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}

._customer-mors-slider-a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #FFCD50 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

._customer-mors-slider-a img {
  margin: 5px 0 0 12px;
}

/* end Слайдер для спецпредложений */

/*  */

._customer-mors-grid-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  margin: 36px 0;
}

._customer-mors-grid-block a {
  text-decoration: none;
  color: #ffffff;
}


._customer-mors-orange {
  background: #EF5E31;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  height: auto;
}

._customer-content-des {
  min-height: 340px;
}

._customer-mors-red {
  background: #B00D48;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  height: fit-content;
}

._customer-mors-violet {
  background: #7732CF;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  height: fit-content;
}

._customer-mors-green {
  background: #829A3A;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  height: fit-content;
}

._customer-mors-blue {
  background: #24A393;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  height: fit-content;
}

._customer-mors-blue-2 {
  background: #0a91bb;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  height: fit-content;
}

._customer-mors-flex-block-h {
  font-size: 20px;
  margin: 24px 0;
}

._customer-mors-flex-block-a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #FFCD50 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin: 24px 0 0 0;
}

._customer-mors-flex-block-a img {
  margin: 5px 0 0 12px;
}

._customer-mors-a-block {
  color: #ffffff !important;
  text-decoration: none;
  display: block;
}

._customer-mors-contacts {
  background-color: #FFFFFF;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 36px;
}

._customer-mors-contacts-h {
  font-size: 22px;
  color: #424B5E;
  margin: 0 0 24px 0;
}

._customer-mors-contacts-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #028DD8;
}

._customer-mors-contacts-1 img {
  margin: 0 12px 0 0;
}

._customer-mors-contacts-a {
  color: #028DD8 !important;
  text-decoration: none !important;
}

._customer-mors-contacts-a:hover {
  color: #FF7043 !important;
}

#first-line {
  min-height: 451px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#no-slider-margin {
  margin: 0 0 40px 0;
}



/*  */


@media(max-width: 1250px) {

  ._customer-content-des {
    min-height: auto;
  }

  ._customer-mors-start {
    margin: 0 20px;
  }

  ._customer-mors-grid-block {
    margin: 36px 20px;
    grid-template-columns: 1fr 1fr;
  }

  ._customer-mors-blue {
    height: auto;
  }

}

@media(max-width: 850px) {

  ._customer-mors-grid-block {
    margin: 36px 0;
    grid-template-columns: 1fr;
    grid-gap: 4vw;
  }

  ._customer-mors-orange {
    padding: 20px;
  }

  ._customer-mors-red {
    padding: 20px;
  }

  ._customer-mors-green {
    padding: 20px;
  }

  ._customer-mors-violet {
    padding: 20px;
  }

  ._customer-mors-blue {
    padding: 20px;
  }

  ._customer-mors-blue-2 {
    padding: 20px;
  }

  ._customer-mors-des-a {
    margin: 20px 0 0 0;
  }

}
